body {
	margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
  background-image: url("../img/background-1.jpg");
}
a {
	text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
	line-height: 18px;
}
.drop-menu {
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}
.drop-menu-supreme {
	font-weight: bold;
	font-size: 20px;
}
.user-navigation-button {
	font-size: 14px;
	font-height: 16px;
}
.header-info {
	text-align: right;
}
.header-info-worktime {
	font-size: 14px;
	line-height: 16px;
}
.header-info-telephone{
	font-size: 22px;
	line-height: 24px;
}
.features {
	color: #323232;
	font-weight: normal;
}
.features-label {
	font-size: 24px;
	font-height: 30px;
	font-weight: 500;
}
.blog-news {
	color: #323232;
}
.blog-news-label {
	font-weight: 500;
}
.blog-news-title {
	font-size: 24px;
	font-height: 30px;
	font-weight: bold;
	text-decoration: underline;
}
.subscription {
	color: #5a5a5a;
}
.subscription-login-input {
	font-height: 24px;
}
.subscription-login-input::placeholder {
	color: #999999;
}
.button {
	font-weight: bold;
	color: #ffffff;

	text-align: center;
	vertical-align: middle;

	border: none;
}
.footer-navigation {
	font-size: 13px;
	font-height: 18px;
	text-decoration: underline;
}
.heart {
	font-weight: bold;
}
.copyright {
	font-size: 12px;
	font-height: 18px;
}
.feedback-form-title {
	font-size: 24px;
	font-height: 28px;
	color: #000000;
}
.feedback-login::placeholder,
.feedback-email::placeholder,
.feedback-message::placeholder {
	color: #999999;
}

.feedback-form input{
	font-height: 24px;
}
.underlined {
	text-decoration: underline;
}
.drop-menu li:hover {
	background-color: #fbded7;
}
.drop-menu li:active{
	background-color: #f6b5a5;
}
