body {
	margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849d8f;  
}
a {
	text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
	line-height: 18px;
}

.drop-menu {
	display: none;

	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}
.drop-menu-supreme {
	font-weight: bold;
	font-size: 20px;
}
.user-navigation-button {
	font-size: 14px;
	line-height: 16px;
}
.search-form,
.login-form,
.cart-list {
	display: none;
}
.site-navigation-link {
	color: #ffffff;
}
.header-info {
	text-align: right;
}
.header-info-worktime {
	font-size: 14px;
	line-height: 16px;
}
.header-info-telephone{
	font-size: 22px;
	line-height: 24px;
}
.features {
	color: #323232;
	font-weight: normal;
}
.features-label {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}
.blog-news {
	color: #323232;
}
.blog-news-label {
	font-weight: 500;
}
.blog-news-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
}
.subscription {
	color: #5a5a5a;
}
.subscription-login-input {
	font-height: 24px;
}
.subscription-login-input::placeholder {
	color: #999999;
}
.button {
	font-weight: bold;
	color: #ffffff;

	text-align: center;
	vertical-align: middle;

	border: none;
}
.footer-navigation {
	font-size: 13px;
	line-height: 18px;
	text-decoration: underline;
}
.copyright {
	font-size: 12px;
	line-height: 18px;
}
.feedback {
	display: none;
}
.feedback-form-title {
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}
.feedback-login::placeholder,
.feedback-email::placeholder,
.feedback-message::placeholder {
	color: #999999;
}

.feedback-form input{
	line-height: 24px;
}
.footer-underlined-link {
	text-decoration: underline;
	color: #ffffff;
}
.footer-underlined-link:hover {
	color: #d07058;
}
.drop-menu li:hover {
	background-color: #fbded7;
}
.drop-menu li:active{
	background-color: #f6b5a5;
}
.breadcrumbs {
	color: #ffffff;

	font-size: 14px;
	line-height: 16px;
}
.breadcrumbs > li > a {
	color: #ffffff;
}
.breadcrumbs > li > a:hover {
	color: #d07058;
}
.catalog-item-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}
.catalog-item-title {
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	text-align: center;
}
.page-title {
	font-size: 35px;
	line-height: 41px;
}
.site-navigation-link:hover {
	color: #323232;
	background-color: #ffffff;
}
.catalog-item-weight {
	font-size: 30px;
}
.footer-navigation-item {
	color: #ffffff;

	font-weight: normal;
}
.footer-navigation-item:hover {
	color: #d07058;
}
.heart {
	font-weight: bold;
}
.site-navigation-current {
	color: #ffffff;
	background-color: #d07058;
}
.blog-news {
	background-color: #ffffff;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
}
.subscription {
	background-color: #f8f7f4;
	background-image: url(../img/post-office-bg.svg);
  background-repeat: no-repeat;
}
.features {
	background-color: #eaddbf;
	background-image: url(../img/waffle-bg.jpg);
	background-repeat: no-repeat;
}